<div class="comment-box row">
  <h4> <%= comment.user.first_name %> <small><em><%= "#{time_ago_in_words(comment.created_at)} ago" %> </em></small>
    <% if current_user && current_user.admin? %>
      <%= link_to ("<span class='glyphicon glyphicon-remove'></span>").html_safe, product_comment_path(comment.product, comment), method: :delete, data: {confirm: "Are you sure?" } %>
    <% end %>
  </h4>
  <div class="rated" data-score="<%= comment.rating %>"></div>
  <h4> <%= comment.body %> </h4>
</div> <!-- end row -->
